{% extends "layout.html" %}
{% block body %}

<div class="container-flex toc">
  <h2>佛陀教育基金会 · 佛经系列</h2>


    <h3>C0 总类</h3>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C0]总类-[CH03]辞典" data-id="佛陀教育基金会-[C0]总类-[CH03]辞典">
      <a id="list_16" href="/series/new/16">

        CH03 辞典


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C0]总类-[CH05]丛书、全集" data-id="佛陀教育基金会-[C0]总类-[CH05]丛书、全集">
      <a id="list_17" href="/series/new/17">

        CH05 丛书、全集


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C0]总类-[CH09]论文、文集" data-id="佛陀教育基金会-[C0]总类-[CH09]论文、文集">
      <a id="list_18" href="/series/new/18">

        CH09 论文、文集


      </a>
    </div>
  </div>
    <h3>C1 教理</h3>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C1]教理-[CH11]佛教概论" data-id="佛陀教育基金会-[C1]教理-[CH11]佛教概论">
      <a id="list_19" href="/series/new/19">

        CH11 佛教概论


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C1]教理-[CH12]各宗要义" data-id="佛陀教育基金会-[C1]教理-[CH12]各宗要义">
      <a id="list_20" href="/series/new/20">

        CH12 各宗要义


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C1]教理-[CH15]佛教原理" data-id="佛陀教育基金会-[C1]教理-[CH15]佛教原理">
      <a id="list_21" href="/series/new/21">

        CH15 佛教原理

      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C1]教理-[CH16]应用佛学" data-id="佛陀教育基金会-[C1]教理-[CH16]应用佛学">
      <a id="list_22" href="/series/new/22">

        CH16 应用佛学


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C1]教理-[CH18]中国佛学" data-id="佛陀教育基金会-[C1]教理-[CH18]中国佛学">
      <a id="list_23" href="/series/new/23">

        CH18 中国佛学


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C1]教理-[CH19]教理各论" data-id="佛陀教育基金会-[C1]教理-[CH19]教理各论">
      <a id="list_24" href="/series/new/24">

        CH19 教理各论

      </a>
    </div>
  </div>
     <h3>C2 教史</h3>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C2]教史-[CH27]佛传" data-id="佛陀教育基金会-[C2]教史-[CH27]佛传">
      <a id="list_25" href="/series/new/25">

        CH27 佛传


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C2]教史-[CH28]传记" data-id="佛陀教育基金会-[C2]教史-[CH28]传记">
      <a id="list_26" href="/series/new/26">

        CH28 传记


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C2]教史-[CH29]地志、游记" data-id="佛陀教育基金会-[C2]教史-[CH29]地志、游记">
      <a id="list_27" href="/series/new/27">

        CH29 地志、游记


      </a>
    </div>
  </div>
    <h3>C3 经及其注释</h3>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C3]经及其注释-[CH30]总论" data-id="佛陀教育基金会-[C3]经及其注释-[CH30]总论">
      <a id="list_28" href="/series/new/60">

        CH30 总论


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C3]经及其注释-[CH31]阿含部、本缘部" data-id="佛陀教育基金会-[C3]经及其注释-[CH31]阿含部、本缘部">
      <a id="list_29" href="/series/new/31">

        CH31 阿含部、本缘部


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C3]经及其注释-[CH32]般若部" data-id="佛陀教育基金会-[C3]经及其注释-[CH32]般若部">
      <a id="list_30" href="/series/new/28">

        CH32 般若部


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C3]经及其注释-[CH33]法华部" data-id="佛陀教育基金会-[C3]经及其注释-[CH33]法华部">
      <a id="list_31" href="/series/new/29">

        CH33 法华部


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C3]经及其注释-[CH34]华严部" data-id="佛陀教育基金会-[C3]经及其注释-[CH34]华严部">
      <a id="list_32" href="/series/new/30">

        CH34 华严部


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C3]经及其注释-[CH35]宝积部、涅槃部" data-id="佛陀教育基金会-[C3]经及其注释-[CH35]宝积部、涅槃部">
      <a id="list_33" href="/series/new/68">

        CH35 宝积部、涅槃部


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C3]经及其注释-[CH36]大集部" data-id="佛陀教育基金会-[C3]经及其注释-[CH36]大集部">
      <a id="list_34" href="/series/new/32">

        CH36 大集部


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C3]经及其注释-[CH37]经集部" data-id="佛陀教育基金会-[C3]经及其注释-[CH37]经集部">
      <a id="list_35" href="/series/new/33">
          CH37 经集部


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C3]经及其注释-[CH38]秘密部" data-id="佛陀教育基金会-[C3]经及其注释-[CH38]秘密部">
      <a id="list_36" href="/series/new/34">

        CH38 秘密部

      </a>
    </div>
  </div>
    <h3>C4 律及其注释</h3>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C4]律及其注释-[CH42]四分律(未出家者不宜阅读)" data-id="佛陀教育基金会-[C4]律及其注释-[CH42]四分律(未出家者不宜阅读)">
      <a id="list_37" href="/series/new/35">

        CH42 四分律

      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C4]律及其注释-[CH46]大乘律" data-id="佛陀教育基金会-[C4]律及其注释-[CH46]大乘律">
      <a id="list_38" href="/series/new/36">

        CH46 大乘律

      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C4]律及其注释-[CH47]在家戒(五戒)" data-id="佛陀教育基金会-[C4]律及其注释-[CH47]在家戒(五戒)">
      <a id="list_39" href="/series/new/61">
          CH47 在家戒(五戒)

      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C4]律及其注释-[CH48]沙弥律" data-id="佛陀教育基金会-[C4]律及其注释-[CH48]沙弥律">
      <a id="list_40" href="/series/new/62">

        CH48 沙弥律
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C4]律及其注释-[CH49]杂律" data-id="佛陀教育基金会-[C4]律及其注释-[CH49]杂律">
      <a id="list_41" href="/series/new/63">

        CH49 杂律
      </a>
    </div>
  </div>
    <h3>C5 论及其注释</h3>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C5]论及其注释-[CH51]释经论部" data-id="佛陀教育基金会-[C5]论及其注释-[CH51]释经论部">
      <a id="list_42" href="/series/new/67">

        CH51 释经论部
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C5]论及其注释-[CH53]中观部" data-id="佛陀教育基金会-[C5]论及其注释-[CH53]中观部">
      <a id="list_43" href="/series/new/65">

        CH53 中观部
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C5]论及其注释-[CH54]瑜伽部" data-id="佛陀教育基金会-[C5]论及其注释-[CH54]瑜伽部">
      <a id="list_44" href="/series/new/66">

        CH54 瑜伽部
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C5]论及其注释-[CH55]秘密部" data-id="佛陀教育基金会-[C5]论及其注释-[CH55]秘密部">
      <a id="list_45" href="/series/new/57">

        CH55 秘密部
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C5]论及其注释-[CH56]论集部" data-id="佛陀教育基金会-[C5]论及其注释-[CH56]论集部">
      <a id="list_46" href="/series/new/58">

        CH56 论集部
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C5]论及其注释-[CH57]南传诸论" data-id="佛陀教育基金会-[C5]论及其注释-[CH57]南传诸论">
      <a id="list_47" href="/series/new/59">

        CH57 南传诸论
      </a>
    </div>
  </div>
    <h3>C6 仪制</h3>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C6]仪制-[CH61]仪式" data-id="佛陀教育基金会-[C6]仪制-[CH61]仪式">
      <a id="list_48" href="/series/new/64">

       CH61 仪式
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C6]仪制-[CH62]僧制" data-id="佛陀教育基金会-[C6]仪制-[CH62]僧制">
      <a id="list_49" href="/series/new/38">

        CH62 僧制
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C6]仪制-[CH64]佛教美术" data-id="佛陀教育基金会-[C6]仪制-[CH64]佛教美术">
      <a id="list_50" href="/series/new/37">

        CH64 佛教美术
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C6]仪制-[CH66]佛教文学" data-id="佛陀教育基金会-[C6]仪制-[CH66]佛教文学">
      <a id="list_51" href="/series/new/39">

        CH66 佛教文学
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C6]仪制-[CH67]五明" data-id="佛陀教育基金会-[C6]仪制-[CH67]五明">
      <a id="list_52" href="/series/new/40">

        CH67]五明
      </a>
    </div>
  </div>
    <h3>C7 布教护法</h3>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C7]布教护法-[CH70]总论" data-id="佛陀教育基金会-[C7]布教护法-[CH70]总论">
      <a id="list_53" href="/series/new/41">

        CH70 总论
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C7]布教护法-[CH71]训诫、法语" data-id="佛陀教育基金会-[C7]布教护法-[CH71]训诫、法语">
      <a id="list_54" href="/series/new/42">

        CH71 训诫、法语
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C7]布教护法-[CH72]讲演、说教" data-id="佛陀教育基金会-[C7]布教护法-[CH72]讲演、说教">
      <a id="list_55" href="/series/new/43">

        CH72 讲演、说教
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C7]布教护法-[CH73]修养、信仰谈" data-id="佛陀教育基金会-[C7]布教护法-[CH73]修养、信仰谈">
      <a id="list_56" href="/series/new/44">

        CH73 修养、信仰谈


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C7]布教护法-[CH74]教化法" data-id="佛陀教育基金会-[C7]布教护法-[CH74]教化法">
      <a id="list_57" href="/series/new/45">

        CH74 教化法


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C7]布教护法-[CH75]各种事业" data-id="佛陀教育基金会-[C7]布教护法-[CH75]各种事业">
      <a id="list_58" href="/series/new/46">

       CH75 各种事业


     </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C7]布教护法-[CH76]对外关系" data-id="佛陀教育基金会-[C7]布教护法-[CH76]对外关系">
      <a id="list_59" href="/series/new/47">

        CH76 对外关系


     </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C7]布教护法-[CH78]因果与轮回" data-id="佛陀教育基金会-[C7]布教护法-[CH78]因果与轮回">
      <a id="list_60" href="/series/new/48">

        CH78 因果与轮回


     </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C7]布教护法-[CH79]中国传统文化" data-id="佛陀教育基金会-[C7]布教护法-[CH79]中国传统文化">
      <a id="list_61" href="/series/new/49">

        CH79 中国传统文化


      </a>
    </div>
  </div>
    <h3>C8 宗派</h3>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C8]宗派-[CH81]俱舍宗、成实宗" data-id="佛陀教育基金会-[C8]宗派-[CH81]俱舍宗、成实宗">
      <a id="list_62" href="/series/new/50">

        CH81 俱舍宗、成实宗


     </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C8]宗派-[CH82]三论宗、天台宗" data-id="佛陀教育基金会-[C8]宗派-[CH82]三论宗、天台宗">
      <a id="list_63" href="/series/new/51">

        CH82 三论宗、天台宗


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C8]宗派-[CH83]法相宗、华严宗" data-id="佛陀教育基金会-[C8]宗派-[CH83]法相宗、华严宗">
      <a id="list_64" href="/series/new/52">

        CH83 法相宗、华严宗


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C8]宗派-[CH84]律宗、密宗" data-id="佛陀教育基金会-[C8]宗派-[CH84]律宗、密宗">
      <a id="list_65" href="/series/new/53">

        CH84 律宗、密宗


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C8]宗派-[CH85]禅宗" data-id="佛陀教育基金会-[C8]宗派-[CH85]禅宗">
      <a id="list_66" href="/series/new/54">

       CH85 禅宗


     </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C8]宗派-[CH86]净土宗" data-id="佛陀教育基金会-[C8]宗派-[CH86]净土宗">
      <a id="list_67" href="/series/new/55">

        CH86 净土宗


      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"

      data-name="佛陀教育基金会-[C8]宗派-[CH89]各宗评论或论说" data-id="佛陀教育基金会-[C8]宗派-[CH89]各宗评论或论说">
      <a id="list_68" href="/series/new/56">

        CH89 各宗评论或论说


      </a>
    </div>
  </div>

</div>

{% endblock %}
