{% extends "layout.html" %}
{% block body %}

<div class="discuver toc container-flex">
  <h3>佛陀教育基金会佛经</h3>

  <div class="row">
    <div class="col-sm-3 col-lg-2 col-xs-6">
      <a href="/series/new/1">碛砂大藏经</a>
    </div>
    <div class="col-sm-3 col-lg-2 col-xs-6">
      <a href="/series/new/2">CBETA电子佛典</a>
    </div>
    <div class="col-sm-3 col-lg-2 col-xs-6">
      <a href="/series/new/3">佛陀教育基金会佛经</a>
    </div>
    <div class="col-sm-3 col-lg-2 col-xs-6">
      <a href="/series/new/3">报恩堂精校佛经系列</a>
    </div>
    <div class="col-sm-3 col-lg-2 col-xs-6">
      <a href="/series/new/11">大众阅藏</a>
    </div>
    <div class="col-sm-3 col-lg-2 col-xs-6">
      <a href="/series/new/69">弘化常诵佛经系列</a>
    </div>
    <div class="col-sm-3 col-lg-2 col-xs-6">
      <a href="/series/new/101">菩提洲经论系列</a>
    </div>
  </div>

</div>

{% endblock %}
