{% extends "layout.html" %}
{% block body %}
<h1 class="{{page}}">{{_(title)}}</h1>

<div id="list" class="container-fluid">
  <div class="row">
  {% for entry in entries %}
    {% if data in ['series', 'publisher'] %}
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"
    {% else %}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"
    {% endif %}
      {% if entry[0].sort %}data-name="{{entry[0].name}}"{% endif %} data-id="{% if entry[0].sort %}{{entry[0].sort}}{% else %}{% if entry.name %}{{entry.name}}{% else %}{{entry[0].name}}{% endif %}{% endif %}">
      <a id="list_{{loop.index0}}" href="{% if entry.format %}{{url_for('web.books_list', data=data, sort_param='new', book_id=entry.format )}}{% else %}{{url_for('web.books_list', data=data, sort_param='new', book_id=entry[0].id )}}{% endif %}">
      {% if entry.name %}{{entry.name}}
      {% else %}
        {% if entry.format %}{{entry.format}}
        {% else %}{{entry[0].name}}
        {% endif %}
      {% endif %}
      ({{entry.count}})</a>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
{% block js %}
<script src="//cdn.sanxuezang.com/static/js/filter_list.js"></script>
{% endblock %}
