{% extends "layout.html" %}
{% block body %}

<div class="container-flex about">
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2 lotus">
      <img src="//cdn.sanxuezang.com/static/img/lotus.png" alt="三学藏"/>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 search">
      {% if g.user.is_authenticated or g.allow_anonymous %}
      <form class="sanxue-form" role="search" action="{{url_for('web.search')}}" method="GET">
        <div class="form-group input-group input-group-lg">
          <label for="query" class="sr-only">{{_('Search')}}</label>
          <input type="text" class="form-control" id="query" name="query" placeholder="{{_('Search Library')}}" value="{{searchterm}}">
          <span class="input-group-btn">
            <button type="submit" id="query_submit" class="btn btn-default">{{_('Search')}}</button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 advanced">
      <a href="{{url_for('web.advanced_search')}}"><span class="glyphicon glyphicon-search"></span><span>{{_('Advanced Search')}}</span></a>
    {% endif %}
    </div>
  </div>
</div>

<div class="container-flex toc">
  <h3><a id="1"></a>从零开始入门佛学</h3>

  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/shelf/2">零基础佛法入门书单</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/shelf/6">佛法感应录系列</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/shelf/3">因果故事集</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/shelf/4">高僧大德传记</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/shelf/5">祖师语录集锦</a>
    </div>

  </div>

  <h3><a id="2"></a>佛经系列</h3>

  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/author/new/786">碛砂大藏经</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/cbeta">CBETA电子佛典</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/budaedu">佛陀教育基金会佛经</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/series/new/3">报恩堂精校佛经系列</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/series/new/11">大众阅藏</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/series/new/69">弘化常诵佛经系列</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/series/new/101">菩提洲经论系列</a>
    </div>
  </div>

  <h3><a id="3"></a>祖师大德</h3>

  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/44">彻悟大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/180">澄观大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/50">传灯大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/91">道宣律师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/13">谛闲大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/528">法照大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/78">憨山大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/25">弘一大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/43">慧远大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/163">窥基大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/18">莲池大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/27">澫益大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/37">善导大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/21">太虚大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/35">昙鸾大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/35">昙鸾大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/68">倓虚大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/46">行策大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/26">虚云大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/153">玄奘大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/17">印光大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/497">元晓大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/42">知礼大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/52">智者大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/369">紫柏大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/177">宗密大师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/587">帝洛巴尊者</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/148">法尊法师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/584">噶玛恰美仁波切</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/583">冈波巴尊者</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/385">麦彭仁波切</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/334">宗喀巴大师</a>
    </div>
  </div>

  <h3><a id="4"></a>近当代法师</h3>

  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/230">忏云法师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/187">成观法师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/14">大安法师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/432">法藏法师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/235">广钦法师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/455">慧律法师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/101">济群法师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/12">界诠法师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/28">净界法师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/122">妙境长老</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/57">圣严法师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/2">雪相法师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/39">圆瑛法师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/16">达真堪布</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/494">顶果钦哲仁波切</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/580">噶玛巴邬金钦列多杰</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/565">蒋贡康楚仁波切</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/614">邱阳创巴仁波切</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/8">智圆法师</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/549">宗萨蒋扬钦哲仁波切</a>
    </div>
  </div>

  <h3><a id="5"></a>居士大德</h3>

  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/635">陈寅恪</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/59">丁福保</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/291">韩清净</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/96">黄念祖</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/158">江味农</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/118">蒋维乔</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/116">李炳南</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/473">南怀瑾</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/48">彭际清</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/636">谈锡永</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/51">王龙舒</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/472">吴信如</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/438">杨仁山</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/73">于凌波</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/415">袁焕仙</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/20">张澄基</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/410">赵朴初</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/author/new/47">周安士</a>
    </div>
  </div>

  <h3><a id="6"></a>丛书</h3>

  <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/series/new/110">禅学丛书</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/series/new/107">大中观丛书</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/5">东林文库系列</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/series/new/1">佛教修学次第（一）</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/22">佛陀优良丛书</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/series/new/103">噶举正法电子书</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/series/new/113">广佛丛书</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/series/new/104">慧光集</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/series/new/14">近代笔记果报丛录</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/series/new/112">著名学者佛学论文集</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/series/new/114">觉群小丛书</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/series/new/15">清凉书屋精校系列</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/series/new/111">中佛协《法音》文库</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/13">中华佛典宝库</a>
    </div>
  </div>

  <h3><a id="7"></a>出版人</h3>

  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/3">报恩堂</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/69">承天禅寺</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/4">大众阅藏</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/5">东林文库</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/11">法云资讯网</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/70">佛陇学会</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/9">佛陀教育基金会</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/60">广东佛教编辑部</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/6">弘化社</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/14">净土教观学苑</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/71">莲因寺</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/1">明静讲堂</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/8">清凉书屋</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/51">太姥山平兴寺</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/38">大圆满法网</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/17">导归极乐网</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/37">慧灯之光</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/48">喇荣三乘法林佛学会</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/30">菩提洲网站</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/19">泰国法身寺</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/20">显密佛网</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/publisher/new/39">亚青寺</a>
    </div>
  </div>

  <h3><a id="8"></a>其他</h3>

  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/author/new/492">观诸法如系列</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/author/new/790">觉梦人科判系列</a>
    </div>
  </div>

  <h3><a id="9"></a>海外译作</h3>

  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/author/new/407">铃木大拙</a>
    </div>
  </div>

  <h3><a id="10"></a>英文作者</h3>

  <div class="row">
    <div class="col-sm-6 col-lg-3 col-xs-12">
    <a href="/author/new/592">Daisetz Teitaro Suzuki</a>
    </div>
    <div class="col-sm-6 col-lg-3 col-xs-12">
    <a href="/author/new/544">Dilgo Khyentse Rinpoche</a>
    </div>
    <div class="col-sm-6 col-lg-3 col-xs-12">
    <a href="/author/new/556">Dzongsar Jamyang Khyentse</a>
    </div>
    <div class="col-sm-6 col-lg-3 col-xs-12">
    <a href="/author/new/609">Tulku Urgyen Rinpoche</a>
    </div>

  </div>

</div>

{% if g.user.show_detail_random() %}
<div class="discover random-books">
  <h3><a id="random"></a>{{_('Random Books')}}</h3>
  <div class="row">
   {% for entry in random %}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 book" id="books_rand">
      <div class="cover">
          <a href="{{ url_for('web.show_book', book_id=entry.id) }}" data-toggle="modal" data-target="#bookDetailsModal" data-remote="false">
              <img src="//img.sanxuezang.com/assets/{{ entry.path }}/cover.jpg" alt="{{ entry.title }}" />
          </a>
      </div>
      <div class="meta">
        <a href="{{ url_for('web.show_book', book_id=entry.id) }}" data-toggle="modal" data-target="#bookDetailsModal" data-remote="false">
          <p class="title">{{entry.title|shortentitle}}</p>
        </a>
        <p class="author">
          {% for author in entry.authors %}
            {% if loop.index > g.config_authors_max and g.config_authors_max != 0 %}
              {% if not loop.first %}
                <span class="author-hidden-divider">&amp;</span>
			  {% endif %}
              <a class="author-name author-hidden" href="{{url_for('web.books_list',  data='author', sort_param='new', book_id=author.id) }}">{{author.name.replace('|',',')|shortentitle(30)}}</a>
              {% if loop.last %}
                <a href="#" class="author-expand" data-authors-max="{{g.config_authors_max}}" data-collapse-caption="({{_('reduce')}})">(...)</a>
              {% endif %}
            {% else %}
              {% if not loop.first %}
                <span>&amp;</span>
              {% endif %}
              <a class="author-name" href="{{url_for('web.books_list',  data='author', sort_param='new', book_id=author.id) }}">{{author.name.replace('|',',')|shortentitle(30)}}</a>
            {% endif %}
          {% endfor %}
        </p>
        {% if entry.series.__len__() > 0 %}
        <p class="series">
          <a href="{{url_for('web.books_list', data='series', sort_param='new', book_id=entry.series[0].id )}}">
            {{entry.series[0].name}}
          </a>
        </p>
        {% endif %}
        {% if entry.ratings.__len__() > 0 %}
        <div class="rating">
          {% for number in range((entry.ratings[0].rating/2)|int(2)) %}
            <span class="glyphicon glyphicon-star good"></span>
            {% if loop.last and loop.index < 5 %}
              {% for numer in range(5 - loop.index) %}
                <span class="glyphicon glyphicon-star-empty"></span>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="discover newest-books">
  <h3><a id="newest"></a>{{_('Newest Books')}}</h3>
  <div class="row">
    {% if entries[0] %}
    {% for entry in entries %}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 book" id="books">
      <div class="cover">
          <a href="{{ url_for('web.show_book', book_id=entry.id) }}" data-toggle="modal" data-target="#bookDetailsModal" data-remote="false">
              <img src="//img.sanxuezang.com/assets/{{ entry.path }}/cover.jpg" alt="{{ entry.title }}"/>
          </a>
      </div>
      <div class="meta">
        <a href="{{ url_for('web.show_book', book_id=entry.id) }}" data-toggle="modal" data-target="#bookDetailsModal" data-remote="false">
          <p class="title">{{entry.title|shortentitle}}</p>
        </a>
        <p class="author">
          {% for author in entry.authors %}
            {% if loop.index > g.config_authors_max and g.config_authors_max != 0 %}
              {% if not loop.first %}
                <span class="author-hidden-divider">&amp;</span>
			  {% endif %}
              <a class="author-name author-hidden" href="{{url_for('web.books_list', data='author', book_id=author.id, sort_param='new') }}">{{author.name.replace('|',',')|shortentitle(30)}}</a>
              {% if loop.last %}
                <a href="#" class="author-expand" data-authors-max="{{g.config_authors_max}}" data-collapse-caption="({{_('reduce')}})">(...)</a>
              {% endif %}
            {% else %}
              {% if not loop.first %}
                <span>&amp;</span>
              {% endif %}
              <a class="author-name" href="{{url_for('web.books_list', data='author', book_id=author.id, sort_param='new') }}">{{author.name.replace('|',',')|shortentitle(30)}}</a>
            {% endif %}
          {% endfor %}
          {% for format in entry.data %}
            {% if format.format|lower == 'mp3' %}
            <span class="glyphicon glyphicon-music"></span>
            {% endif %}
          {%endfor%}
        </p>
        {% if entry.series.__len__() > 0 %}
        <p class="series">
          <a href="{{url_for('web.books_list', data='series', sort_param='new', book_id=entry.series[0].id )}}">
            {{entry.series[0].name}}
          </a>
        </p>
        {% endif %}
        {% if entry.ratings.__len__() > 0 %}
        <div class="rating">
          {% for number in range((entry.ratings[0].rating/2)|int(2)) %}
            <span class="glyphicon glyphicon-star good"></span>
            {% if loop.last and loop.index < 5 %}
              {% for numer in range(5 - loop.index) %}
                <span class="glyphicon glyphicon-star-empty"></span>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>

<div class="container-flex about">
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2">
      &nbsp;
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <h4 class="media-heading"><a id="about"></a>三学藏佛教电子书站　使用说明</h4>
      <ol>
      <li>佛经、佛书、作者姓名，可直接在左上角搜索栏中搜索。</li>
      <li>如果你是佛法萌新，欢迎参阅 <a href="https://sanxuejiaoguan.com/" target="_blank">三学教观社网站</a> 及 <a href="#1">从零开始入门佛学</a> 书单</li>
      <li>注册并设置了邮箱后，可以使用“发送到 Kindle”功能：先在个人资料中填写您的 Kindle 邮箱，再把 admin@sanxuezang.com 加入您的 Kindle 邮箱的白名单。</li>
      <li>书籍投稿、批量下载，请联系：1465802737@qq.com</li>
      <ol>
    </div>
  </div>
</div>

{% endblock %}
