.footer {
    height: 32px;
    width: 100%;
    margin-top: 32px;
    bottom: 0;
    text-align: center;
}

.navbar-form .input-group .form-control,
.sanxue-form .input-group .form-control,
.navbar-form .input-group-btn > .btn,
.sanxue-form .input-group-btn > .btn,
.navbar-brand {
    font-family: "Kaiti SC",STKaiti,"AR PL UKai CN","AR PL UKai HK","AR PL UKai TW","AR PL UKai TW MBE","AR PL KaitiM GB",KaiTi,KaiTi_GB2312,DFKai-SB,"TW\-Kai",'Ma Shan Zheng' !important;
}

.about {
    padding-top: 48px;
    padding-bottom: 24px;
}

.about .lotus {
    text-align: right;
}

.about .lotus img {
    display: inline-block !important;
    max-width: 136px !important;
    width: 136px;
    height: 80px;
}

.about h4 {
    font-weight: bold;
    color: #316C61;
    margin-bottom: 10px;
}

.about h4:before {
    content: "✻ "
}

.about ol {
    padding-left: 2rem;
}

.about p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.random-books h3,
.newest-books h3,
.toc h3{
    color: #316C61;
    margin-left: -20px;
}

.random-books h3:before,
.newest-books h3:before,
.toc h3:before {
  content: "✻ "
}

.about .row,
#list .row,
.toc .row {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.about .row > div {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#list .row > div,
.toc .row > div {
    display: flex;
    flex-direction: column;
    box-shadow:
        0.5px 0 0 0 #B0B0B0,
        0 0.5px 0 0 #B0B0B0,
        0.5px 0.5px 0 0 #B0B0B0,
        0.5px 0 0 0 #B0B0B0 inset,
        0 0.5px 0 0 #B0B0B0 inset;
}

#list a,
.toc a{
    display:inline-block;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 15px;
    color: #424242;

}

#list a:hover,
.toc a:hover{
    color: #316C61;
}
